extends layout

block content
  h1= title
  - var results = [{holograph_name: "Ghost", creator: "ABC", edition_number: 1},{holograph_name: "Ghost", creator: "ABC", edition_number: 2},{holograph_name: "Ghost", creator: "ABC", edition_number: 3}]

  .container-fluid
    .row
      each f,index in results 
        .col-sm-2(onclick=`buy(${index})`)
          | #{f.holograph_name}, $#{f.creator}, #{f.edition_number}
          
  script.
    function buy(index) {
      alert(`Your purchased Item: ${index+1}`);
    }