
extends layout

block content
  h1= title
  - let items = results
    

  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch("/holograph/update?id=${item._id}")`
        - let destination1 = `dispatch("/holograph/delete?id=${item._id}")`
        - let destination2 = `dispatch("/holograph/detail?id=${item._id}")`
        div(class="row-sm-2 m-1") holograph name is #{item.holograph_name} creator is (#{item.creator}) edition_number is #{item.edition_number}
        button.btn(class="btn-primary ml-1", onclick=destination) Update
       

  script.
    function dispatch(path){
      window.location.href = path;
    }